html {
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: inherit;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}


#calculator {
    width: 500px;
    height: 600px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px
}

#screen-container {
    height: 150px;
    width: 90%;
    border: 1px solid black;
}


#buttons-container {
    border: 1px solid black;
    width: 90%;
    height: 350px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 5px;
    padding: 5px;
}


.span-btn {
    grid-column: span 2;
}