html {
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: inherit;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}


#calculator {
    width: 400px;
    height: 500px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;  
}

#screen-container {
    height: 110px;
    width: 90%;
    border: 1px solid black;
    display: grid;
    grid-template-rows: 1fr 2fr;
}

#second-screen,
#main-screen {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 10px 25px;
}

#main-screen {
    font-size: 30px;
}







#buttons-container {
    border: 1px solid black;
    width: 90%;
    height: 350px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 5px;
    padding: 5px;
}

.autor {
    grid-column: span 2;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}